<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saicmotor.libcommon">

    <application>
        <activity
            android:name=".base2.demo.MvpDemoActivity"
            android:label="@string/title_activity_mvp_demo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>